a:link{
    color:#FFFFEE;
    text-decoration: none;
    font-size: 15px;
 }
 a:visited{
    color:#cccccc;
    text-decoration: none;
    font-size: 15px;
 }

.background{
    height: 970px;
    width: 90%;
    margin-left: -10px;
    line-height: 50px;
    background: #D7EEFF;
}

ul {
    background: #fffcf4;
    border-radius :8px;
    margin-top:-20px;
    box-shadow :0px 0px 5px silver;
    
  }

h2{
    text-align: center;
    border: solid 3px black;
    margin-top:-0px;
}