*{
    background-color:#00CCFF;
}
.Title h1{
color:whitesmoke;
border-bottom:  solid whitesmoke;
text-align: center;

}

.main{
    color: bisque;
    padding:10px 10px;
}

.me{
    height: 10px;
    width:  10px;
    padding-bottom:200px ;
    position: relative;
    
}

.Dob p{
    color:black;
    text-align: left;
    font-size:;
}

.blood-type p{
    color:black;
    text-align: left;
}

.favorite p{
    color:black;
    text-align: left;
    
}

main{
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.6); 
    padding:  10px;                             /* 余白指定 */
    padding-top: 100px;
    box-sizing:  border-box;                    /* 崩れ防止 */
    height: 280px;               
    width: 200px;              
    border-radius:  5px;                     
    display:  inline-block;                     
}

footer{
    padding-top: 300px;
    
}