@media(max-width:700px){
  *{
    font-size :10px;
  }
  .Title h2{
    color:black;
    border-bottom:  solid whitesmoke;
    width: 575px;
    padding-right:300px ;
  }
}
  
  
 



